aniso8601==3.0.2
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
cssselect==1.0.3
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.0.2
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
idna==2.7
itsdangerous==0.24
jieba3k==0.35.1
Jinja2==2.10
lxml==4.9.1
MarkupSafe==1.0
newspaper3k==0.2.6
nltk==3.3
numpy==1.14.5
Pillow==5.1.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
requests==2.19.1
requests-file==1.4.3
scipy==1.1.0
simplejson==3.15.0
six==1.11.0
summa==1.0.0
tldextract==2.2.0
urllib3==1.23
Werkzeug==0.14.1
